body{
	background-color: #ECECEC;
}
.header{
	background-image: url('https://ye.ua/images/news/_Sezon_polyivannya__scho_neobhidno_znati_1_2021_08_07_08_18_33.jpg');
	background-size: cover;
}
a{
	color: #0077FF;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
ul{
	list-style-type: square;
}
input[type="text"], button{
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
th, td{
	border: 1px solid #DDDDDD;
	padding: 8px;
	text-align: left;
}